/* champ recherche */
#search1-search_text {
  height:50px;
  font-size:1.5em;
}

/* magnifier */
#search1-search_search>.fa-search:before,
#search1-search_reset
{
    color: white;
}

#search2-search_search>.fa-search:before,
#search2-search_reset>.fa.fa-close:before,
#search2-search_reset>.fa.fa-remove:before
{
    color: #EF7757;
}


.fa-plus-circle:before, .fa-search:before, .fa-database:before {
    color: #EF7757;
}

#button1>.fa-plus-circle:before,
#button2>.fa-plus-circle:before,
#button3>.fa-plus-circle:before {
  color:#EF7757;
}


.fa-plus-circle:before, .fa-search:before, .fa-table:before, .fa-bar-chart:before, .fa-book:before {
    color: #EF7757;
}


/*
.fa-paper-plane:before {
    color: white;
}
*/

#button1>.fa-plus-circle:before,
#button2>.fa-plus-circle:before,
#button3>.fa-plus-circle:before {
  color:#EF7757;
}






#search1-search_search,
#search1-search_reset {
  height: 50px;
  width: 50px;
}

#search1-search_search, #search1-search_reset {
  background-color:#EF7757;
}

#search2-search_search, #search2-search_reset {
  background-color:white;
}

/* reset */
.fa.fa-close:before, .fa.fa-remove:before {
    color: white;
}

/* Styles de Vincent Redon */
h1 {
font-size: 34px;
font-weight: 700;
line-height: 45px;
color: #464749;
margin-top : 40px;
margin-bottom: 40px;
}

h2 {
font-size: 22px;
line-height: 28px;
color: #464749;
margin-top : 24px;
margin-bottom: 24px;
}

p {
font-size: 16px;
line-height: 24px;
color: #464749;
margin-top : 16px;
margin-bottom: 16px;
}

ul {
font-size: 16px;
line-height: 24px;
color: #464749;
}

blockquote {
padding: 3rem;
margin: 30px 0 30px 0;
font-size: 14px;
border-left: 5px solid #ef7757;
background-color: #f5f5f5;
}

/* Légende */
.nb_friches {
  padding: 0.7rem 1rem;
  background: #f5f5f5;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  margin-left: -15px; /* rajouté */
}

.nb_friches_elt {
  margin-left: 5px;
  padding: 0.8rem;
  color: #585858;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.nb_friches_elt_popup {
  margin-left: 3px;
  padding: 0.6rem;
  color: #585858;
  background-color: #f4f4f4;
  border-radius: 3px;
}

.nb_friches_elt_accueil {
  margin-left: 3px;
  padding: 0.6rem;
  color: #585858;
  background-color: #f4f4f4;
  border-radius: 3px;
  font-weight:700;
}

.information i.fa {
    font-size: 1.3em;
}

/* Tabs */
.tabbable {
  margin-left: -15px;
  margin-right: -15px;
}

.nav-tabs>li {
  float: left;
  font-size:1.1em;
  margin-bottom: -1px;
  text-align: center;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-tabs>li>a {
    color: #EF7757;
    color: #a1a1a1;
    /*padding-right: 20px;
    padding-left: 20px;*/
    border:none;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    color: #EF7757;
    cursor: default;
    background-color: #fff;
    /*border: 1px solid #ddd;
    border-bottom-color: transparent;*/
    border:none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #EF7757;
    cursor: default;
    background-color: #fff;
    /*border: 1px solid #ddd;
    border-bottom-color: transparent;*/
    border:none;
}

/* Titres */
/*
h1, h2 {
    color: #EF7757;
}*/

#mymap {
  /*height: calc(100vh - 210px) !important;*/
  height: calc(100vh - 0px) !important;
}

/* A propos */
.a_propos > blockquote {
    font-size: 1em;
}

.a_propos > ul > li {
    font-size: 1.2em;
}

/* Notification */
.shiny-notification {
  background-color:#EF7757;
  color:white;
  border:none;
}

/* Popup */
.modal-header {
    padding-left: 15px;
    border-bottom: none;
    /* border-bottom: 1px solid #e5e5e5; */
    /* margin-bottom: 0px; */
}

.modal-content {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.1em;
  line-height : 2em;
}

.modal-content h4 {
  padding: 0.7rem 1rem;
  background: #f5f5f5;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.modal-content h4.modal-title {
  color: black;
  background: none;
  margin-bottom: -10px;
}

.modal-content button {
  background-color: #ef7757;
  color: #ffffff;
  border: 1px solid #ef7757;
  border-radius: 0px;
}

.modal-content button:hover {
  background-color: #ef7757;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0px;
}

/* Popup des cartes */
.map_popup {
    font-size: 1.4em;
    padding: 8px;
    width: 300px;
    /*min-height:150px;
    width: 200px;
    overflow-wrap: anywhere;*/
}

/* Texte des cercles statistiques */
.map_label {
  color: white;
  font-weight: 500;
}


.carte {
  margin-right:-15px;
}

.carte information {
  color: grey;
  padding-top: 10px;
}

.carte .boutons {
  padding-bottom:15px;
  padding-top:15px;
  text-align:center;
}

.row .boutons a:hover {
  text-decoration : none;
}

.carte .search {
  background-color: #EF7757;
  color: white;
  font-size: 1em;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* On centre la boîte de saisie d'adresse */
.form-group.shiny-input-container {
    margin: auto;
}

@font-face {  
  src: url(fonts/Marianne-Regular.otf);
  font-family: "Marianne-Regular";
}

@font-face {  
  src: url(fonts/Marianne-BoldItalic.otf);
  font-family: "Marianne-BoldItalic";
}

@font-face {  
  src: url(fonts/Marianne-Bold.otf);
  font-family: "Marianne-Bold";
}

/*
#search_search, #search_reset {
  
  color:white;
  background-color: #EF7757;
}

#search_search .fa-search:before {
  
  color:white;
  background-color: #EF7757;
}
*/

.home_button {
    display: inline-block;
    padding: 15px 20px 15px 20px;
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
    font-size: 1.5em;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color:#33475b;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Titres */
/*h1, h2, h3, h4 {*/
  /*font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.1;*/
  /*color: #808285;
}
*/


body {
  background-color: #fff;
  /*padding-top:130px;*/
  font-size:1.3em;
  font-family: 'Marianne-Regular';
}

.dygraph-title {
  color: black;
  font-weight: bold;
  font-size:0.6em;
}

.contenu {
  margin-top:0px;
  height:500px;
  overflow-y: scroll;
}

.nom_station {
    font-weight: bold;
    font-size: 1em;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 5px;
}

.container-fluid {
    color: black;
    background-color: white;
    height: 120px;
    /*padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;*/
}

.small_map{
  margin-top:10px;
}

#map-container-pl {
    position: fixed;
    top: 120px;
    border-bottom: 1px solid #e7e7e7;
    height: 1000px;

}

.indice {
    color: #464749;
    font-size: 1em;
}


h4.resultats, h4.commentaire {
    color: #F58220;
    font-size: 1.5em;
    line-height: 2.5em;
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom, transparent 50%, #e0e1f9 95%);
    display: inline;
    letter-spacing: 0.1em;
    font-weight: 700;
    /* margin-bottom: 100px; */
    padding-bottom: 2px;
}

h5 {
    color: #F58220;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* -- NAVBAR -- */

.navbar-header {
    /*float: left;*/
    background-color: white;
}

.navbar-brand {
    /*float: left;*/
    background-color: white;
}



.navbar-default {
  /*background-color: #f8f8f8;*/
  background-color: white;
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #464749;
    font-weight:normal;
    background-color: white;
    /*margin-top:20px;
    font-size:1.2em;*/
}

.navbar-default .navbar-nav>li>a:hover {
    color: #464749;
    font-weight:normal;
    border-bottom: 3px solid #EF7757;
    background-color: white;
    padding-bottom: 30px;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
    padding-bottom: 30px;
}


.navbar-default .navbar-nav>.active>a {
    color: #EF7757;
    background-color: white;
    border-bottom: 3px solid #EF7757;
    padding-bottom: 30px;

}


/*
.navbar-default .navbar-nav>.active>a:visited {
    background-color: white;
}


.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: red;
}*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #EF7757;
    background-color: white;
    border-bottom: 3px solid #EF7757;
    padding-bottom: 30px;
}

/*.navbar>.container-fluid .navbar-brand {
    margin-left: 20%;
}*/

.navbar-default .navbar-brand {
    color: #464749;
    font-size: 1.3em;
    font-weight: normal;
    margin-right: 140px;
    margin-left: 0px;
    padding-left: 50px;
    height: 100px;
    width: 100px;
    background-color: white;
}

/*
.navbar>.container-fluid .navbar-brand {
    margin-left: 0%;
    width:400px;
}
*/

/* -- VISUEL DU HAUT ---- */

#bandeau {
  
position: relative;
margin-left: -30px;
margin-right: -30px;
margin-top: -20px;
color: white;
}

.dernieres_dates {
    /*font-size: 1.3em;
    height: 150px;
    margin-left: -15px;
    margin-right: -15px;*/
    /*background-color: red;*/
    /*color: white;
    margin-top: -20px;
    margin-bottom: 20px;
    background-image: url(dataviz5.jpg));
    background-image: url(bande.png);
    background-size:8%;
    background-position: top left;
    background-repeat: repeat-x;*/
    font-size: 1.3em;
    height: 55px;
    margin-left: -15px;
    margin-right: -15px;
    /* background-color: red; */
    color: white;
    margin-top: -20px;
    margin-bottom: 20px;
    background-image: url(bande.png);
    background-size: 5.5%;
    background-position: center left;
    background-repeat: repeat-x;
    margin-top: 0px;
    margin-bottom: 60px;
}

.dernieres_dates_mobile {
    color: white;
    background-color: rgb(14, 76, 151);
    font-size: 1.3em;
    margin-bottom: 5%;
    margin-top: -20px;
    padding-top: 2%;
    padding-bottom: 2%;
    /*padding-left: 22%;*/
    /*background-image: url(icone_temps.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: left 5% center;*/
}

#bandeau_visuel_mobile_container {
  
    position: relative;
    
    /*height: 430px;*/
    
    color: white;
    /* font-size: 3em; */
    
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0px;
    
    border-bottom: 10px solid #55AAE3;
    
    height: 100%;
    
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 0px;
    
    /*background-color: rgba(14, 76, 151, 0.9);*/
    /*background-image: url(visuel_mobile.jpg);
    background-size: 150px;
    background-position: bottom right;*/
    
    background-color: rgba(14, 76, 151, 1);
    background-image: url(image_fonds.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
}

#bandeau_visuel_mobile_content {
  text-align:left;
  padding-top: 5%;
  padding-bottom:5%;
  padding-left:1%;
  padding-right:1%;
}

#image_fonds {
  top:0;
  
}

#visuel {
    background-color: rgba(14, 76, 151, 1);
    background-image: url(dataviz5.jpg);
    background-position: top 0px right 50px;
    background-repeat: no-repeat;
    background-size: 460px;  
    height: 420px;
}

.voir_container {
    /*padding-top: 30px;
    height: 150px;
    background-color: white;
    color: white;
    padding-bottom: 30px;*/
    text-align: center;
    /*background-color: rgba(14, 76, 151, 0.9);
    border-radius: 0px;
    box-shadow: 5px 5px 5px #d2d2d2;
    display: block;
    position: relative;*/
}

.voir {
    height: 150px;
    background-color: white;
    color: white;
    padding-bottom: 30px;
    text-align: center;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* background-size: 100%; */
    height: 150px;
    background-color: white;
    background-image: url(surete-transport.jpg);
    color: white;
    padding-bottom: 30px;
    text-align: center;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: 300%;
    background-position: bottom 0px right 0px;
}

.btn-download {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 10px 10px 10px 10px;
    font-size: 1.3em;
    box-shadow: 5px 5px 5px #e7e7e7;
}

.btn-download-doc {
    color: #333;
    font-size: 2em;
    box-shadow: 5px 5px 5px #e7e7e7;
    vertical-align: middle;
    margin-left: 10px;
}

/*.modal-body {
    padding: 20px 30px 10px 20px;
}*/

.texte {
    font-size: 1.2em;
    padding-left: 3%;
    padding-right: 2%;
    border-left: 5px solid rgba(14, 76, 151, 1);
    /*margin-left: 5%;
    margin-right: 5%;*/
    color:#464749;
}

.instruction {
    font-size: 1.2em;
    padding-left: 0px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.encart {
  font-size:1.2em;
  padding-left:20px;
  padding-right:20px;
}

.selectize-control.multi .selectize-input > div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #E6E7E8;
    padding: 5px 15px 5px 15px;
}


/*div#mymap_pl {
    width: 400px;
    height: 400px;
    position: fixed;
    visibility: inherit;
}*/

div.map_container {
    width: 400px;
    height: 400px;
}

a.file_download {
    font-size: 1.3em;
    /*border: 2px solid blue;
    padding: 20px 20px 20px 20px;*/
    margin-bottom: 20px;
}

div.info_onglet, div.info_onglet2{
  font-size:1.2em;
  color:#464749;
  margin-bottom:20px;
  margin-right:50px;
}

div.info_onglet2{
  padding-right:50px;
}

p {
  font-size:1.2em;
    text-align: justify;
}

.btn-download {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 10px 10px 10px 10px;
    font-size: 1.3em;
}



/* ------------------------------------ *\
  CARD
\* ------------------------------------ */
.fr-card {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  --text-spacing: 0 0 1rem;
  --title-spacing: 0 0 0.5rem;
  --blend: var(--background-default-grey-blend);
  background-color: var(--background-default-grey);
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.fr-grid-row .fr-card {
  height: 100%;
}

.fr-card:not(.fr-card--no-arrow) .fr-card__body::after {
  font: normal normal normal 1.5rem/1 dsfr-icon;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  margin-top: auto;
  margin-left: auto;
  color: var(--text-action-high-blue-france);
}

.fr-card__img {
  position: relative;
  width: 100%;
}

.fr-card__img::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}

.fr-card__img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.fr-card__body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1.5rem;
}

.fr-card__detail {
  font-size:  0.75rem ;
  line-height:  1.25rem ;
  order: -1;
  color: var(--text-mention-grey);
}

.fr-card__title {
  font-size:  1.125rem ;
  line-height:  1.5rem ;
  font-weight: 700;
  color: var(--text-title-grey);
}

.fr-card__desc {
  font-size:  0.875rem ;
  line-height:  1.5rem ;
}

.fr-card__link {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  display: inline-flex;
  width: 100%;
  margin-top: auto;
}

.fr-card--grey {
  --blend: var(--background-contrast-grey-blend);
  background-color: var(--background-contrast-grey);
}



.navbar{
  margin-bottom:0px;
}

/* Couleur de l'icône home, et pas de bordure */
.navbar-default .navbar-nav>li>a {
    color: #464749;
    font-weight: normal;
    background-color: white;
    font-size: 1.2em;
}

ul.nav li:first-child>a, 
ul.nav li.active:first-child>a{
    border-bottom: none;
}

ul.nav li:first-child>a:focus, 
ul.nav li:first-child>a:hover, 
ul.nav li.active:first-child>a:focus, 
ul.nav li.active:first-child>a:hover {
  color:#EF7757;
  border-bottom: none;
}

/* Couleur des boutons Adresse et Observatoires */
a.activated, a.deactivated {
 font-size: 1.2em;
 margin-left: -15px;
 padding: 10px 10px 10px 10px;
 text-align: center;
 text-decoration : none;;
}

a.activated {
   color:#EF7757
}

a.deactivated {
   color:grey
}

a.activated:hover, a.deactivated:hover{
  color:#EF7757;
}

/* Espace pour la barre de navigation en haut */
ul#app_navbar {
  background-color:white;
  padding-top: 35px;
  margin-left: 0%;
  font-size: 1.1em;
}

/* Boîte modale */
h4.modal-title {
    color: grey;
}

.radio-primary input[type="radio"]:checked+label::after {
    background-color: #EF7757;
}

/* bouton pour aller quelque part */
button.goto {
  background-color: #ef7757;
  color: #ffffff;
  border: 1px solid #ef7757;
  border-radius: 0px;
}

button.goto:hover {
  background-color: #ef7757;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0px;
}

button.goto_map {
  background-color: #ef7757;
  color: #ffffff;
  border: 1px solid #ef7757;
  border-radius: 0px;
  text-align:left;
}

button.goto_map:hover {
  background-color: #ef7757;
  color: #ffffff;
  border: 1px solid #ef7757; /* même bordure quand hover : différent des boîtes modales */
  border-radius: 0px;
}

button.goto a {
  margin-right: 10px;
  font-size: 1.3em;
  line-height: 2em;
  font-weight: 500;
}

button a:hover {
    color: #F58220;
}